<div class="showcase__admin">
    <a class="btn" href="/dashboard">&larr; Back</a>
    <h2>Add New Artist</h2>

    <form action="/add-artist" method="POST">
        <label for="name"><b>Title</b></label>
        <input type="text" placeholder="Artist Title" name="name">

        <label for="description"><b>Content</b></label>
        <textarea name="description" cols="50" rows="10"></textarea>

        <input type="submit" value="Add" class="btn">
    </form>
</div>