<footer class="footer">
    &copy; <%= new Date().getFullYear(); %> DimitarIM • Built with NodeJs & MongoDB
    <nav class="footer__nav">
      <ul>
        <li><a href=""><img src="/img/icons/instagram_synth.png" alt=""></a></li>
        <li><a href=""><img src="/img/icons/facebook_synth.png" alt=""></a></li>
        <li><a href=""><img src="/img/icons/twitter_synth.png" alt=""></a></li>
      </ul>
    </nav>
  </footer>