<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin/header_admin.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/index.js" defer></script>
</head>
<body>
    <%- include('../partials/header_admin.ejs') %>
        <main class="main">
            <%- body %>
        </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>