<div class="showcase__contact">
    <div class="overlay__contact"></div>
    <div class="fade"></div>

    <div class="container_col start">
        <img src="/img/contact_img.jpg" alt="">
        <div class="fade"></div>
    </div>
    <div class="container_col start padding_1 ">
        <h1>Contact US</h1>
        <div class="container_row padding_1">
            <div class="container_col start padding_1">
                <form  action="mailto:darkSynth@gmail.com">
                    <div class="box">
                        <h3>Full Name</h3>
                        <input type="text" required>
                    </div>
                    <div class="box">
                        <h3>E-mail</h3>
                        <input type="email" required>
                    </div>
                    <div class="box">
                        <h3>Message</h3>
                        <textarea name="message" placeholder="Your Message" required></textarea>
                    </div>
                    <button type="submit" class="btn">Contact Us</button>
                </form>
                
            </div>

            <div class="container_col start padding_1 information">
                <div class="box">
                    <h3>Contact</h3>
                    <h2>Email</h2>
                </div>
                <div class="box">
                    <h3>Based In</h3>
                    <h2>Location</h2>
                </div>
                <div class="links">
                    <a href="">facebook</a>
                    <a href="">instagram</a>
                    <a href="">twitter</a>
                </div>
            </div>
        </div>
    </div>

</div>