<div class="showcase">
    <div class="slider">
        <div class="slides">
            <a href=""><img class="slide" src="/img/carpenter-brut_logo.png" alt="Image #1"></a>
            <a href=""><img class="slide" src="/img/perturbator_logo.png" alt="Image #2"></a>
            <a href="" class="megaDrive">
                <img class="slide" src="/img/megaDrive_logo.png" alt="Image #3">
                <div class="overlay"></div>
            </a>
        </div>

        <button class="previous" onclick="prevSlide()">&#10094</button>
        <button class="next" onclick="nextSlide()">&#10095</button>
    </div>

    <div class="overlay"></div>
    <div class="fade"></div>
</div>
<div class="latest__post">
    <div class="star"><img src="/img/star_synth.png" alt=""></div>
    <h4>Latest Post</h4>
    <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, officia?</h5>
        <h5>By Josh</h5>
</div>
<div class="showcase__lower">
    <div class="info">
        <h2>Dark Synth</h2>
        <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum dolor reprehenderit, ex magnam officia at, fuga architecto natus maxime, nostrum hic sed voluptatum nam eveniet! Nesciunt vel cumque ratione officiis!</h4>
    </div>
    <div class="container_row">
        <div class="artists">
            <img src="../img/artists_synth.png" alt="">
            <a href="/artists">Browse</a>
        </div>
        <div class="contact">
            <img src="../img/contact_synth.png" alt="">
            <a href="/contact">Contact Us</a>
        </div>
    </div>
   
</div>