.showcase__contact {
    z-index: 0;
    display: flex;
    position: relative;
    padding: calc(1rem + 138px) 1rem 1rem 1rem;
    min-height: 100vh;
    background:no-repeat bottom url(../img/miasma_synth.jpg);
    justify-content: center;
    align-items: center;
}
.showcase__contact h1 {
    text-align: center;
}

.showcase__contact img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    align-self: end;
    box-shadow: 0 -10px 10px 5px rgba(210, 5, 5, 0.2);
    z-index: 0;
}
.showcase__contact .container_col, .showcase__contact .container_row {
    z-index: 20;
}

.overlay__contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(80, 4, 4);
    z-index: 1;
    mix-blend-mode: overlay;
}

.showcase__contact .information {
    gap: 5rem;
}

.showcase__contact textarea {
    resize: none;
}

.box {
    display: flex;
    flex-direction: column;
}

.box h3 {
    margin: 0;
    align-self: start;
}

.box h2 {
    margin: 0;
    align-self: center;
}

.links a {
    color: var(--gray-light);
}

@media screen and (max-width:945px) {
    .showcase__contact {
        flex-direction: column;
    }

    .showcase__contact img {
        align-self: center;
    }
    .container_col {
        align-self: center;
    }
}

@media screen and (max-width:768px) {
    .showcase__contact {
        padding: calc(1rem + 218px) 1rem 1rem 1rem;
    }
}